{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        console.log("Connected to server!");
    });

    function start_game() {
      socket.emit('start_command', {});
    }

    function next_round() {
      socket.emit('next_round', {});
    }


</script>


<div class="page-header">
  <center><h1>Which player are you?</h1></center>
</div>

<center>
  <div class="btn-toolbar" role="group" aria-label="...">
      <a href="/1" class="btn btn-default" role="button">Tester</a>
      <a href="/2" class="btn btn-default" role="button">Subject</a>
  </div>

  <br>

<div class="page-header">
  <center><h1>Control Panel</h1></center>
</div>
  <div class="btn-toolbar" role="group" aria-label="...">
      <button onclick=start_game() class="btn btn-success" role="button">Start Game</a>
      <button onclick=next_round() class="btn btn-success" role="button">Next Round</a>
  </div>

</center>
{% endblock %}
